.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 7%;
    margin-top: 5rem;
}

.footer-logo {
    width: 20%;
}

.logo {
    height: 50px;
    width: auto;
}

.footer-section {
    width: 30%;
    text-align: left;
}

.footer h3 {
font-size: 1.5rem;
margin-bottom: 1rem;
font-weight: bold;
color: #F4CE14;
}

.footer ul {
    padding: 0;
    list-style-type: none;
}

.footer ul li {
    margin:  5px 0;
}

.footer ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.footer ul li a:hover {
    color: #F4CE14;
}

.footer p {
    font-size: 1rem;
    color: #333;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-section {
        width: 100%;
        margin-bottom: 2rem;
    }

    .footer-logo {
        width: 100%;
        text-align: center;
    }
}

