.footer {
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    color: #333;
    padding: 20px;
    text-align: left;
}

.footer-section {
    width: 45%;
}

.footer h3 {
font-size: 36px;
margin-bottom: 20px;
}

.footer ul {
    padding: 0;
}

.footer ul li {
    margin:  5px 0;
}

