.homepage {
    padding-top: 5rem;
    padding-left: 7%;
    padding-right: 7%;
}

body {
  overflow-x: hidden;
}

body::before {
  content: "";
  position: absolute;
  width: 900px; 
  height: 900px;
  background: #EE9972; 
  border-radius: 50%;
  top: 90px;
  left: -500px;
  z-index: -1; 
}

.menu::before {
  content: "";
  position: absolute;
  width: 1200px; 
  height: 1200px;
  background: #84A49A; 
  border-radius: 50%;
  top: 500px; 
  right: -600px;
  z-index: -1;
}

.footer::before {
  content: "";
  position: absolute;
  width: 1000px; 
  height: 1000px;
  background: #F4CE14; 
  border-radius: 50%;
  top: 1580px; 
  left: -500px;
  z-index: -1;
}

html {
  scroll-behavior: smooth;
}

.cta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: center;
  }

  .cta-content {
    max-width: 500px;
  }

  .cta h1 {
    font-size: 4rem;
    color: #333;
    margin-bottom: 1.5rem;
    font-weight: bold;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #333;
  }

  button {
    padding: 1rem 2rem;
    font-size: 1.1rem;
    background-color: #F4CE14;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #E3BE13;
  }

  .header-images {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.header-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


